@model TopTrumpsNovus.Models.Card

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeckID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeckID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatFour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatFive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatFive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatSix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatSix)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
