@model IEnumerable<TopTrumpsNovus.Models.Card>

@{
    ViewData["Title"] = "Index"; 
    int deckID = 1;
    int counter = 0;
    List<Card> cardList = new List<Card>();
}

<div class= "Game">

    @{
        

        foreach (var item in Model)
        {
            if ((item.DeckID) == deckID)
            {
                cardList.Add(item);

                <div class="CardStyle">
                    <br />
                        <div>
                            <p>
                                @Html.DisplayFor(modelItem => item.CardName)
                            </p>
                            <p>
                                @Html.DisplayNameFor(modelItem => item.StatOne): @Html.DisplayFor(modelItem => item.StatOne)
                            </p>
                            <p>
                                @Html.DisplayNameFor(modelItem => item.StatTwo): @Html.DisplayFor(modelItem => item.StatTwo)
                            </p>
                            <p>
                                @Html.DisplayNameFor(modelItem => item.StatThree): @Html.DisplayFor(modelItem => item.StatThree)
                            </p>
                            <p>
                                @Html.DisplayNameFor(modelItem => item.StatFour): @Html.DisplayFor(modelItem => item.StatFour)
                            </p>
                            <p>
                                @Html.DisplayNameFor(modelItem => item.StatFive): @Html.DisplayFor(modelItem => item.StatFive)
                            </p>
                            <p>
                                @Html.DisplayNameFor(modelItem => item.StatSix): @Html.DisplayFor(modelItem => item.StatSix)
                            </p>
                            </div>
                        </div>
                <br />
            }
            counter++;
        }

        

    

        foreach (var card in cardList)
        {
            Console.WriteLine(card.CardName);
        }

}
</div>