@model IEnumerable<TopTrumpsNovus.Models.Card>

@{
    ViewData["Title"] = "Index"; 
    int deckID = 1;
    List<Card> cardList = new List<Card>();
    List<Card> drawnCardsList = new List<Card>();
}

<div class= "Game">

    @{

        foreach (var item in Model)
        {
            if ((item.DeckID) == deckID)
            {
                cardList.Add(item);
            }
        }

        ColumnNames cns = new ColumnNames();

        string[] columnNames = cns.getColumnNames(deckID);

        Random rng = new Random();
        cardList = cardList.OrderBy(a => rng.Next()).ToList();

        List<Card> playersCards = new List<Card>();
        List<Card> aisCards = new List<Card>();

        int halfOfDeck = (cardList.Count() / 2);
        Console.WriteLine(halfOfDeck);

        for (int i = 0; i < halfOfDeck;i++)
        {
            playersCards.Add(cardList.ElementAt(i));
        }

        for (int i = halfOfDeck; i < cardList.Count(); i++)
        {
            aisCards.Add(cardList.ElementAt(i));
        }

        <div class="Cards">

            <div class="CardStyle">
                <br />
                    <div>
                        <p>
                         @Html.DisplayFor(modelItem => playersCards.ElementAt(0).CardName)
                        </p>
                        <img src=playersCards.ElementAt(0).ImageFilePath>
                        <p>
                        @columnNames[0] @Html.DisplayFor(modelItem => playersCards.ElementAt(0).StatOne)
                        </p>
                        <p>
                        @columnNames[1] @Html.DisplayFor(modelItem => playersCards.ElementAt(0).StatTwo)
                        </p>
                        <p>
                        @columnNames[2] @Html.DisplayFor(modelItem => playersCards.ElementAt(0).StatThree)
                        </p>
                        <p>
                        @columnNames[3] @Html.DisplayFor(modelItem => playersCards.ElementAt(0).StatFour)
                        <p>
                        @columnNames[4] @Html.DisplayFor(modelItem => playersCards.ElementAt(0).StatFive)
                        </p>
                        <p>
                        @columnNames[5] @Html.DisplayFor(modelItem => playersCards.ElementAt(0).StatSix)
                        </p>
                        </div>
                    </div>
                    <br />
            <div/>

            <div class="CardStyle">
                <br />
                    <div>
                        <p>
                            @Html.DisplayFor(modelItem => aisCards.ElementAt(0).CardName)
                        </p>
                    <img src=aisCards.ElementAt(0).ImageFilePath>
                        <p>
                        @columnNames[0]   @Html.DisplayFor(modelItem => aisCards.ElementAt(0).StatOne)
                        </p>
                        <p>
                        @columnNames[1] @Html.DisplayFor(modelItem => aisCards.ElementAt(0).StatTwo)
                        </p>
                        <p>
                        @columnNames[2] @Html.DisplayFor(modelItem => aisCards.ElementAt(0).StatThree)
                        </p>
                        <p>
                        @columnNames[3] @Html.DisplayFor(modelItem => aisCards.ElementAt(0).StatFour)
                        <p>
                         @columnNames[4] @Html.DisplayFor(modelItem => aisCards.ElementAt(0).StatFive)
                        </p>
                        <p>
                         @columnNames[5] @Html.DisplayFor(modelItem => aisCards.ElementAt(0).StatSix)
                        </p>
                    </div>
                <br />
            </div>
        
          </div>



        
}
</div>