@model IEnumerable<TopTrumpsNovus.Models.Card>

@{
    ViewData["Title"] = "Index"; 
    int deckID = 1;
    List<Card> cardList = new List<Card>();
    List<Card> drawnCardsList = new List<Card>();
}

<div class= "Game">

    @{
        foreach (var item in Model)
        {
            if ((item.DeckID) == deckID)
            {
                cardList.Add(item);
            }
        }

        ColumnNames cns = new ColumnNames();

        string[] columnNames = cns.getColumnNames(deckID);

        Random rng = new Random();
        cardList = cardList.OrderBy(a => rng.Next()).ToList();

        List<Card> playersCards = new List<Card>();
        List<Card> aisCards = new List<Card>();

        int halfOfDeck = (cardList.Count() / 2);

        for (int i = 0; i < halfOfDeck;i++)
        {
            playersCards.Add(cardList.ElementAt(i));
        }

        for (int i = halfOfDeck; i < cardList.Count(); i++)
        {
            aisCards.Add(cardList.ElementAt(i));
        }

        <div class="Cards">

            <div class="CardStyle">
                <div>
                    <div>
                        <p class="cardInfo-title">
                            @Html.DisplayFor(modelItem => playersCards.ElementAt(0).CardName)
                        </p>
                    </div>
                    <img src=playersCards.ElementAt(0).ImageFilePath>
                    <div>
                        <p class="statOne">
                            @columnNames[0] <span class="statOne-value">@Html.DisplayFor(modelItem => playersCards.ElementAt(0).StatOne)</span>
                            <button type="button" class="selectStatBtn" onclick="handleStatSelected('statOne')">SELECT</button>
                        </p>
                    </div>
                    <div>
                        <p class="statTwo">
                            @columnNames[1] @Html.DisplayFor(modelItem => playersCards.ElementAt(0).StatTwo)
                        </p>
                    </div>
                    <div>
                        <p class="statThree">
                            @columnNames[2] @Html.DisplayFor(modelItem => playersCards.ElementAt(0).StatThree)
                        </p>
                    </div>
                    <div>
                        <p class="statFour">
                            @columnNames[3] @Html.DisplayFor(modelItem => playersCards.ElementAt(0).StatFour)
                        </p>
                    </div>
                    <div>
                        <p class="statFive">
                            @columnNames[4] @Html.DisplayFor(modelItem => playersCards.ElementAt(0).StatFive)
                        </p>
                    </div>
                    <div>
                        <p class="statSix">
                            @columnNames[5] @Html.DisplayFor(modelItem => playersCards.ElementAt(0).StatSix)
                        </p>
                    </div>
                </div>
            </div>

            <div class="CardStyle">
                <div>
                    <div>
                        <p class="cardInfo-title">
                            @Html.DisplayFor(modelItem => playersCards.ElementAt(1).CardName)
                        </p>
                    </div>
                    <img src=playersCards.ElementAt(0).ImageFilePath>
                    <div>
                        <p class="cardInfo-title">
                            @columnNames[0] @Html.DisplayFor(modelItem => playersCards.ElementAt(1).StatOne)
                        </p>
                    </div>
                    <div>
                        <p class="cardInfo-title">
                            @columnNames[1] @Html.DisplayFor(modelItem => playersCards.ElementAt(1).StatTwo)
                        </p>
                    </div>
                    <div>
                        <p class="cardInfo-title">
                            @columnNames[2] @Html.DisplayFor(modelItem => playersCards.ElementAt(1).StatThree)
                        </p>
                    </div>
                    <div>
                        <p class="cardInfo-title">
                            @columnNames[3] @Html.DisplayFor(modelItem => playersCards.ElementAt(1).StatFour)
                        </p>
                    </div>
                    <div>
                        <p class="cardInfo-title">
                            @columnNames[4] @Html.DisplayFor(modelItem => playersCards.ElementAt(1).StatFive)
                        </p>
                    </div>
                    <div>
                        <p class="cardInfo-title">
                            @columnNames[5] @Html.DisplayFor(modelItem => playersCards.ElementAt(1).StatSix)
                        </p>
                    </div>
                </div>
            </div>
        
        </div>



        
}
</div>

<script type="text/javascript">
    const handleStatSelected = (statRef) => {
        let elementValue = document.querySelector(`.${statRef}`).innerText;
        let statHeader = elementValue.split` `[0];
        let statValue = elementValue.split` `[1];

        console.log(`statHeader: ${statHeader}`);
        console.log(`statValue: ${statValue}`);
    }
</script>