@model IEnumerable<TopTrumpsNovus.Models.Card>

@{
    ViewData["Title"] = "Index"; 
    int deckID = 1;
    int counter = 0;
    List<Card> cardList = new List<Card>();

    List<Card> drawnCardsList = new List<Card>();
}

<div class= "Game">

    @{
        

        foreach (var item in Model)
        {
            if ((item.DeckID) == deckID)
            {
                cardList.Add(item);

                <div class="CardStyle">
                    <br />
                        <div>
                            <p>
                                @Html.DisplayFor(modelItem => item.CardName)
                            </p>
                            <p>
                                @Html.DisplayNameFor(modelItem => item.StatOne): @Html.DisplayFor(modelItem => item.StatOne)
                            </p>
                            <p>
                                @Html.DisplayNameFor(modelItem => item.StatTwo): @Html.DisplayFor(modelItem => item.StatTwo)
                            </p>
                            <p>
                                @Html.DisplayNameFor(modelItem => item.StatThree): @Html.DisplayFor(modelItem => item.StatThree)
                            </p>
                            <p>
                                @Html.DisplayNameFor(modelItem => item.StatFour): @Html.DisplayFor(modelItem => item.StatFour)
                            </p>
                            <p>
                                @Html.DisplayNameFor(modelItem => item.StatFive): @Html.DisplayFor(modelItem => item.StatFive)
                            </p>
                            <p>
                                @Html.DisplayNameFor(modelItem => item.StatSix): @Html.DisplayFor(modelItem => item.StatSix)
                            </p>
                            </div>
                        </div>
                <br />
            }
            counter++;
        }


        Random rng = new Random();
        cardList = cardList.OrderBy(a => rng.Next()).ToList();

        List<Card> playersCards = new List<Card>();
        List<Card> aisCards = new List<Card>();

        int halfOfDeck = (cardList.Count() / 2);
        Console.WriteLine(halfOfDeck);

        for (int i = 0; i < halfOfDeck;i++)
        {
            playersCards.Add(cardList.ElementAt(i));
        }

        for (int i = halfOfDeck; i < cardList.Count(); i++)
        {
            aisCards.Add(cardList.ElementAt(i));
        }

        
}
</div>